
<div class="row">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, size: '150x150', class: "image-fit" %>
  <% end %>
  
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>