<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "photo link", root_path, id: "logo" %>
  </div>
</header>

<% if logged_in? %>
  <%= render 'layouts/navbar_login' %>
<% else %>
  <%= render 'layouts/navbar' %>
<% end %>